.head {
  margin: 0;
  font-size: 26px;
}

.center {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}

.quoteWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.8;
}

.quote {
  position: relative;
}
.quote > h3 {
  margin: 0;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  caret-color: transparent;
}

.metaData {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 30px;
}

.buttonWrapper {
  caret-color: transparent;
}

.buttonWrapper > button {
  cursor: pointer;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.buttonWrapper > button:hover {
  background-color: white;
}

.anchor {
  color: rgb(103, 8, 229);
}

.description {
  position: absolute;
  top: 48%;
  left: 14.5%;
  border: 1px solid #000;
  width: 450px;
  height: 300px;
  overflow: hidden;
}
